<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="plugins" type="SharpNose.Plugins, SharpNose" />
  </configSections>
  <plugins xmlns="SharpNose">
    <testRunners>
      <testRunner name="NUnit" path="..\..\..\Binaries\NUnit\net-2.0" additionalArguments="/xml=testRunReport.xml" />
      <testRunner name="Isolator" path="D:\Development\Phoenix\Dependencies\Isolator" />
    </testRunners>
  </plugins>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>